header{
    text-align: center;
    background-color: rgb(34, 83, 190);
}
header > h1{
    padding-bottom: 6px;
    margin: auto;
    font-size: 2.8em;
    color: rgb(219, 240, 248);
}
input{
    margin-right: 15px;
}
#last-choice{
    margin-right: 0px;
}
#button{
    text-align: center;
}

