body{
    margin: 0px;
    background-color: rgb(233, 239, 255);
}
main{
    max-width: 600px;
    margin: auto;
    padding-bottom: 50px;
}
.game-header{
    text-align: center;
    margin: 0px;
    padding: 1px;
    background-color: rgb(0, 125, 235);
    color: white;
}
.profile{
    font-size: 1.2em;
    text-align: right;
    padding-right: 40px;
}
.profile > p{
    margin: 8px;
}
#vl{
    margin: auto 10px;
}