body{
    margin: 0px;
    background-color: rgb(237, 246, 253);
}
main{
    max-width: 600px;
    margin: auto;
    padding-bottom: 50px;
}
.game-header{
    text-align: center;
    margin: 0px;
    padding: 1px;
    background-color: rgb(0, 125, 235);
    color: white;
}
.profile{
    font-size: 1.2em;
    text-align: right;
    padding-right: 40px;
}
.profile > p{
    margin: 8px;
}
#vl{
    margin: auto 10px;
}
button{
    margin: 14px;
    width: 200px;
    height: 30px;
    background-image: linear-gradient(rgb(223, 238, 255), rgb(242, 247, 251));
}